main {
  width: 500px;
  margin: auto;
  font-family: "Raleway", sans-serif;
  background-color: lightsteelblue;
}
img {
  height: 40px;
}
.allCards {
  margin: 2vw;
  padding-top: 1vh;
}
.display-cards {
  background-color: red;
  position: absolute;
  width: 450px;
  height: 95%;
  top: 5vh;
}
*/ .display-none {
  background-color: green;
}
